<template>
  <div>
    <!-- <el-radio-group v-model="tabPosition" style="margin-bottom: 30px;">
      <el-radio-button label="top">top</el-radio-button>
      <el-radio-button label="right">right</el-radio-button>
      <el-radio-button label="bottom">bottom</el-radio-button>
      <el-radio-button label="left" value="meleft">left2</el-radio-button>
    </el-radio-group> -->

    <el-tabs tab-position="left" style="height: 200px;">
      <el-tab-pane>
        <span slot="label" style="position: relative;">
          <!-- <i class="el-icon-date"></i>  -->
          <img src="../assets/logo.png" class="logo md" style="top:4px;position: relative;">
          <span style="margin: auto;top:-5px;position: relative;">Unity & Perserverence</span>
        </span>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quae ducimus blanditiis sed possimus sapiente consequatur a? Praesentium incidunt inventore voluptatibus. Suscipit tenetur ut sequi voluptas. Consequuntur, veritatis ratione? Impedit!
       Quisquam accusamus, eligendi dolores qui recusandae sed sunt pariatur adipisci quasi, impedit error facere, labore dicta ipsa autem nemo quibusdam quas sequi expedita distinctio et ad similique alias animi? Veniam.
       Repudiandae, modi. Sapiente fugiat itaque reiciendis recusandae beatae sed deleniti, nesciunt numquam expedita in temporibus repellendus, distinctio nemo iste! Vel, inventore. Voluptatum molestias laborum maiores tenetur doloremque corrupti omnis sint!
       Accusamus a perferendis dolore temporibus dolorum, similique, ipsam, nihil quis cupiditate obcaecati esse aliquam enim sapiente quia perspiciatis maxime. Inventore suscipit libero aut deserunt. Distinctio illum vitae architecto beatae deleniti.
       Sed laudantium tempore eum. Aspernatur temporibus facere culpa! Rerum maiores dolores atque tenetur nesciunt dolorem dolore sint. Et, cupiditate distinctio? Ducimus soluta labore repudiandae dolorem distinctio nulla ipsum ratione suscipit?
       Quae, tempora atque odit harum vel fuga excepturi natus a magni enim fugiat ab neque sit nemo aperiam dicta id magnam voluptatem ut, voluptate quis ipsa officia ex! Vel, porro!
      </el-tab-pane>
      <el-tab-pane label="Config">Config</el-tab-pane>
      <el-tab-pane label="Role">Role</el-tab-pane>
      <el-tab-pane label="Task">Task</el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        // tabPosition: 'top'
      };
    }
  };
</script>