<template>
  <div id="app">
    <!-- <el-container> -->
    <div style="position: fixed; width: 100%; display: block;top:0">
      <el-row type="flex" style="text-align: center; background-color: #545c64;">
        <el-col :span="8">
          <div class="grid-content bg-purple">
            <!-- <span class="spacer"></span> -->
          </div>
        </el-col>
        <el-col :span="8">
          <div class="grid-content bg-purple-light">
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect"
              background-color="#545c64" text-color="#fff" active-text-color="#ffd04b" router>
              <el-menu-item index="1" route="/">
                <img src="./assets/logo.png" class="logo md">
                Processing Center
              </el-menu-item>
              <el-submenu index="2">
                <template slot="title">Workspace</template>
                <el-menu-item index="2-1" route="about">
                  <img src="./assets/logo.png" class="logo sm">
                  item one
                </el-menu-item>
                <el-menu-item index="2-2" route="tabs">item two</el-menu-item>
                <el-menu-item index="2-3">item three</el-menu-item>
                <el-submenu index="2-4">
                  <template slot="title">item four</template>
                  <el-menu-item index="2-4-1">item one</el-menu-item>
                  <el-menu-item index="2-4-2">item two</el-menu-item>
                  <el-menu-item index="2-4-3">item three</el-menu-item>
                </el-submenu>
              </el-submenu>
              <el-menu-item index="3" disabled>Info</el-menu-item>
              <el-menu-item index="4"><a href="#">Orders</a></el-menu-item>
            </el-menu>
          </div>
        </el-col>
        <el-col :span="8">
          <div class="grid-content bg-purple"></div>
        </el-col>
      </el-row>
    </div>
    <!-- </el-container> -->
    <div style="margin-top: 80px;">
      <router-view></router-view>
      <p>
        If Element is successfully added to this project, you'll see an
        <code v-text="'<el-button>'"></code>
        below
      </p>
      <el-button>el-button</el-button>
    </div>
  </div>
</template>

<script>
  import HelloWorld from './components/HelloWorld.vue'

  export default {
    name: 'app',
    components: {
      HelloWorld
    },
    data() {
      return {
        activeIndex: "1"
      }
    },
    methods: {
      handleSelect() {

      }
    }
  }
</script>

<style>
  body {
    margin: 0px;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0px;
  }

  .logo {
    width: auto;
  }

    .logo.md {
    height: 30px;
  }

      .logo.sm {
    height: 20px;
  }

  .spacer {
    /* width: 500px;
    display: inline-block;
    background-color: aqua */
  }
</style>